/* Manejo de Tips */
.x-tip {
    width: auto !important;
}
.x-tip-body {
    width: 100px !important;
}
.x-tip-body span {
  background-image: none;
  background-color: #DFECFB;
  color: #083772;;
}

body {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#333;
	margin:0;
	padding:0;
}
h1 {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size:26px;
	color:#083772;
	letter-spacing:-1px;
	font-weight:normal;
	background:#eee;
	padding:15px 20px;
	border-bottom:1px solid #ccc;
}
h2 {
	font-size: 18px;
	line-height:18px;
	color:#083772;
	margin-bottom:15px;
	font-weight:normal;
}
p {
	margin:10px 20px;
	line-height:18px;
}
input {
	margin: 0px 0px;
}
#content {
	margin-left:15px;
}
#myDiv {
	border:2px solid #1F3E75;
	background:#DFECFB;
	margin:20px 50px;
	padding:10px 20px;
	width:350px;
	text-align:center;
	font-size: 22px;
}
#pobresores {
	border:2px solid #1F3E75;
	background:#DFECFB;
	margin:20px 50px;
	padding:10px 20px;
	width:350px;
	text-align:center;
	font-size: 22px;
}
#myDiv1 {
	border:2px solid #1F3E75;
	background:#DFECFB;
	margin:20px 50px;
	padding:10px 20px;
	width:750px;
	text-align:justify;
	font-size: 18px;
}
#myDiv2 {
	border:2px solid #1F3E75;
	background:#FFFFFF;
	margin:20px 50px;
	padding:10px 20px;
	width:750px;
	text-align:justify;
	font-size: 18px;
}
#myDiv3 {
	border:2px solid #1F3E75;
	background:#00FFFF;
	color:#000772;
	text-align:justify;
	font-size: 18px;
}
#intro {
	border:2px solid #1F3E75;
	background:#DFECFB;
	margin:20px 50px;
	padding:10px 20px;
	width:200px;
	text-align:center;
	font-size: 20px;
}
#formularios {
	border:2px solid #1F3E75;
	background:#DFECFB;
	margin:20px 50px;
	padding:10px 20px;
	width:850px;
	text-align:center;
	font-size: 20px;
}
.red {
	color: red;
}




#colorNav > ul{
    width: 450px;
    margin:0 auto;
}

#colorNav > ul > li{ /* will style only the top level li */
    list-style: none;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC;
    display: inline-block;
    line-height: 1;
    margin: 1px;
    border-radius: 3px;
    position:relative;
}

#colorNav > ul > li > a{
    color:inherit;
    text-decoration:none !important;
    font-size:24px;
    padding: 25px;
}

#colorNav li ul{
    position:absolute;
    list-style:none;
    text-align:center;
    width:180px;
    left:50%;
    margin-left:-90px;
    top:70px;
    font:bold 12px 'Open Sans Condensed', sans-serif;

    /* This is important for the show/hide CSS animation */
    max-height:0px;
    overflow:hidden;

    -webkit-transition:max-height 0.4s linear;
    -moz-transition:max-height 0.4s linear;
    transition:max-height 0.4s linear;
}

#colorNav li:hover ul{
    max-height:200px;
}

#navigationMenu li{
	list-style:none;
	height:39px;
	padding:2px;
	width:40px;
}

#navigationMenu span{
	/* Container properties */
	width:0;
	left:38px;
	padding:0;
	position:absolute;
	overflow:hidden;

	/* Text properties */
	font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.6px;
	white-space:nowrap;
	line-height:39px;
	
	/* CSS3 Transition: */
	-webkit-transition: 0.25s;
	
	/* Future proofing (these do not work yet): */
	-moz-transition: 0.25s;
	transition: 0.25s;
}

#navigationMenu a{
	background:url('../images/navigation.jpg') no-repeat;
	
	height:39px;
	width:38px;
	display:block;
	position:relative;
}

/* General hover styles */

#navigationMenu a:hover span{ width:auto; padding:0 20px;overflow:visible; }
#navigationMenu a:hover{
	text-decoration:none;
	
	/* CSS outer glow with the box-shadow property */
	-moz-box-shadow:0 0 5px #9ddff5;
	-webkit-box-shadow:0 0 5px #9ddff5;
	box-shadow:0 0 5px #9ddff5;
}

/* Green Button */

#navigationMenu .home {	background-position:0 0;}
#navigationMenu .home:hover {	background-position:0 -39px;}
#navigationMenu .home span{
	background-color:#7da315;
	color:#3d4f0c;
	text-shadow:1px 1px 0 #99bf31;
}

/* Blue Button */

#navigationMenu .about { background-position:-38px 0;}
#navigationMenu .about:hover { background-position:-38px -39px;}
#navigationMenu .about span{
	background-color:#1e8bb4;
	color:#223a44;
	text-shadow:1px 1px 0 #44a8d0;
}

/* Orange Button */

#navigationMenu .services { background-position:-76px 0;}
#navigationMenu .services:hover { background-position:-76px -39px;}
#navigationMenu .services span{
	background-color:#c86c1f;
	color:#5a3517;
	text-shadow:1px 1px 0 #d28344;
}

/* Yellow Button */

#navigationMenu .portfolio { background-position:-114px 0;}
#navigationMenu .portfolio:hover{ background-position:-114px -39px;}
#navigationMenu .portfolio span{
	background-color:#d0a525;
	color:#604e18;
	text-shadow:1px 1px 0 #d8b54b;
}

/* Purple Button */

#navigationMenu .contact { background-position:-152px 0;}
#navigationMenu .contact:hover { background-position:-152px -39px;}
#navigationMenu .contact span{
	background-color:#af1e83;
	color:#460f35;
	text-shadow:1px 1px 0 #d244a6;
}

